<div class="column is-4">
    <div class="card">
        <div class="card-content">
            <div class="github-info float-right">
                <img src="https://via.placeholder.com/75" alt="avatar" class="avatar">
                <br>
                <a href="#" target="_blank">{{author}}</a>
            </div>
            <h2 class="title is-2 float-none">{{projectTitle}}</h2>

            <div class="project-details float-none">
                <p class="description">{{projectDetails}}</p>
                <a href="#" target="_blank" class="link">{{projectLink}}</a>
                <p class="technologies">Technologies</p>
                <br>
                <br>
                <button class="btn btn-success float-right">I'm Interested!</button>
                <i class="timestamp">{{createdAt}}</i>
            </div>

        </div>
    </div>
</div>